.column {
  width: 100%;
}
.col-5 {
  width: 41.66666667%;
}
.btn--main {
  padding: 20px 44px;
  text-decoration: none;
}
.container-landingSquareSpace {
  padding: 0 50px;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
@media all and (max-width: 680px) {
  .btn--main {
    color: #fff;
    background-color: grey;
    border-color: grey;
  }
  .col-12 {
    width: 100%;
  }
  .c-center-mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .p-left-mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .h-center-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 681px) {
  .btn--main {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
  .col-6 {
    width: 50%;
  }
}
