.text-center {
    text-align: center;
}

@media all and (min-width: 1025px) {

    .is-center {
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .row-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .container--feature.col-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .container--gallery:not(:nth-child(1)):not(:nth-child(4)) {
        margin-left: 10px;
    }

}

@media all and (min-width: 681px) and (max-width: 1024px) {}

@media all and (max-with: 680px) {}